@import "../../utility/utility.less";

.merge-surplus {
  .header {
    padding-left: 3px;

    &:before {
      .icon("\f24d");
      font-weight: normal;
    }
  }

  td {
    color: #CCC;
  }

  .has-surplus td {
    color: #313439;
  }
}
