@import "../../utility/utility.less";

.current-inventory {
  input {
    display: inline-block;
    margin: 0 0.7em 0 0;
    width: 60px;
  }

  .inventory-item {
    padding: 8px 0;
  }

  .header {
    &:before {
      .icon("\f0b1");
      font-weight: normal;
    }
  }
}
